<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>timeline</title>
</head>
<body>
    <h3>你好，{{ user.screen_name }}<img src="{{ user.profile_image_url }}" alt=""/></h3>
    <ul>
        {% for status in statuses %}
        <li>
            <p>{{ status.user.screen_name }}<img src="{{ status.user.profile_image_url }}" alt=""/></p>
            <p>{{ status.text }}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>